*.class
.gradle
bin
build
eclipse
run
.settings

# Package Files #
*.war
*.ear
.project
.classpath
*.iml
build.bat
build.sh
ElementalCreepers-Rebooted_Client.launch
ElementalCreepers-Rebooted_Server.launch
